@import url("debriefs.css");
@import url("instruments.css");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary: #64ff8d;
  --color-secondary: #0c2503;

  color: var(--color-primary);
  background-color: var(--color-secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --r-primary: var(--color-primary);
  --r-secondary: var(--color-secondary);
  --r-surface: var(--color-secondary);
  --r-border-color: var(--color-primary);

  --r-text: var(--r-primary);
  --r-input-placeholder-text-color: var(--r-primary);
  --r-button-primary-text-color: var(--r-secondary);
  --r-button-primary-text-color-hover: var(--r-secondary);
  --r-button-border-color: var(--r-primary);
  --r-input-border-color: var(--r-primary);
  --r-input-text-color: var(--r-primary);
  --r-input-text-color-placeholder: var(--r-primary);

  --r-select-background: var(--r-secondary);
  --r-select-border-color: var(--r-primary);
  --r-select-text-color: var(--r-primary);
  --r-select-text-color-placeholder: var(--r-primary);

  --r-icon-color: var(--r-primary);

  --r-payment-method-item-background: var(--r-secondary);
  --r-payment-method-item-border-color: var(--r-primary);
  --r-payment-method-item-hover-border-color: var(--r-primary);
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary);
}

body {
  margin: 0;
  padding: 3rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1;
}

#app {
  margin: 0 auto;
}

input {
  border-radius: 8px;
  border: 1px solid var(--color-primary);
  padding: 0.6em 1.2em;
  color: var(--color-primary);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-secondary);
  transition: border-color 0.25s;
  outline: none;
  
  &::placeholder {
    color: var(--color-primary);
    opacity: 0.5;
  }
}

button {
  border-radius: 8px;
  border: 1px solid var(--color-primary);
  padding: 0.6em 1.2em;
  color: var(--color-primary);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-secondary);
  cursor: pointer;
  transition: border-color 0.25s;

  &.is-active {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
}
button:hover {
  border-color: var(--color-primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav {
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--color-primary);
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    a {
      &.nav-item {
        cursor: pointer;
        padding: 0.6rem;
    
        &.is-active {
          border-bottom: 3px solid var(--color-primary);
        }
      }
    }
  }
}

footer {
  margin-top: 3rem;
  border-top: 1px solid var(--color-primary);
}

.container {
  position: relative;
  min-height: 160px;
}

.deposit {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  display: inline-block;
  width: 560px;
  border: 1px solid var(--color-primary);
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  box-shadow: 0 0 0 10px var(--color-secondary);
  display: none;

  &.is-active {
    display: flex;
  }
}

